/*
Project Name: Portuguese Food 
Final Project
Author: Andreia Freitas
Developer @GA in London
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}
/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	font-size: 12px;
	line-height: 1.4;
	font-family: 'Catamaran', 'Open Sans', sans-serif;
}

header{
	background-color: rgb(26, 26, 26);
	padding: 3%;
}

nav{
	width: 1000px;
	margin: 0 auto;
}

.page-header h1{
	text-transform: uppercase;
	font-size: 1.5rem;
}

.page-header a{
	text-decoration: none;
	color: white;
}

.page-header{
	margin: -10px 0 0 0;
	float: left;
}

nav ul{
	float: right;
	margin: -15px 0 0 0;
}

nav ul a{
	text-decoration: none;
	font-size: 1rem;
	color: white;
	padding: 0 0 0 5px;
}

nav li{
	display: inline-block;
	padding: 9px;
}

header nav .active{
	background: darkred;
}

.banner {
	background: url(../images/azulejos.jpg) center no-repeat;
	background-size: cover;
	padding: 6%;
	opacity: 0.7;
}

.intro-content{
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 5% 0 0 0;
}

.intro-content a{
	text-decoration: none;
	font-size: 2rem;
	color: rgb(95, 2, 31);
}

.cards {
	overflow: hidden;
}

.card {
	float: left;
	width: 33.33333%;
	padding-top: 20px;
}

.card img {
	display: block;
	margin: auto;
}

.card article {
	background: white;
	margin: 10px;
	padding: 10px;
}

.card .button {
	font-size: 0.75rem;
}

.card p, .card h3, .card .button {
	position: relative;
	bottom: 150px;
}

.recipe h3{
	font-size: 0.9rem;
	font-weight: bold;
	text-transform: uppercase;
	opacity: 0;
}

.recipe p {
	font-size: 0.8rem;
	opacity: 0;
	text-align: justify;  
	padding: 20px 30px;  
}

.recipe .button {
	font-size: 0.8rem;
	text-decoration: none;
	opacity: 0;
	font-weight: bold;
	color: darkred;
}

.photo-tiles .recipe .button {
	bottom: 0;
}

.photo-tiles .recipe .button span{
	position: relative;
	bottom: 100px;
}

.recipe:hover img {
	opacity: 0.1;
}

.recipe:hover h3, .recipe:hover p, .recipe:hover .button {
	opacity:1;
}

.videos{
	background-color: rgb(26, 26, 26);
	margin: 0 auto;
	text-align: center;
	padding: 3% 0 6% 0;
}

.videos h2 {
	font-size: 1.2rem;
	color: white;
	padding-bottom: 30px;
	text-transform: uppercase;
}

.container-restaurants {
	max-width: 1100px;
	margin: 0 auto;
}

.container-restaurants img {
	display: block;
}

.restaurant {
	position: relative;
	float: left;
	width: 50%;
}

.maps {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.maps iframe {
	width: 100%;
	height: 100%;
}

.restaurant:hover img {
	opacity: 0.1;
}

.restaurant:hover .maps, .restaurant:hover p {
	opacity:1;
}

footer {
	float: left;
	background-color: rgb(26, 26, 26);
	font-weight: 700;
	color: white;
	margin: 0 auto;
	text-align: center;
	width:100%;
	height:10%;
	bottom:0;
	padding: 25px 90px;
}

/***************************
******  RECIPES PAGE ******
****************************/

.banner-recepie {
	background: url(../images/things.png) center no-repeat;
	background-size: cover;
	padding: 6%;
	opacity: 0.7;
}

.wrapper a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: darkred;
	font-size: 1.5rem;
}

.photo-tiles {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 5% 0 4% 0;
}

.photo-tiles a {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: darkred;
}

/****** ONE RECIPE PAGE ******/

.banner-polvo {
	background: url(../images/polvo-big.jpg) center no-repeat;
	background-size: cover;
	padding: 6%;
	margin-bottom: 50px;
	opacity: 0.7;
}

.container-recipe {
	width: 800px;
	margin: 0 auto;
	text-align: center;	

}

.recipe-page {
	border-top: 4px solid rgb(204,0,0);
	background: rgb(242,242,242) url(./images/procedure-bg.jpg) no-repeat left top;
	padding: 10px 30px 20px;
	margin-bottom: 30px;
}

.recipe-page h3 {
	font-size: 1rem;
	font-weight: 900;
	text-transform: uppercase;
	color: rgb(26, 26, 26);
}


.photo-block-recipe-page h4 {
	font-size: 0.9rem;
	font-weight: bold;
	color: darkred;
	padding: 2% 0 0 0;
}

.photo-block-recipe-page .recipe-list li:first-letter, .photo-block-recipe-page .recipe-todo li:first-letter {
	font-weight: bold;
	font-size: 0.9rem;
}

.photo-block-recipe-page{
	line-height: 200%;
	color: #605e59;
}

.recipe-todo li {
	padding: 0.5% 0 0 0;
}


/***** RESPONSIVE *****/

@media only screen and (max-width: 800px) {

	body {
		font-size: 18px;
	}

	header {
		padding: 10px;
	}

	h3 {
		font-size: 30px;
	}

	.page-header {
		font-size: 36px;
	}

	header nav {
		width: 100%;
		margin: 0;
	}
	header nav ul li{
		float: none;
		display: block;
		margin: 0;
		font-size: 18px;
	}
	.hamburger {
		display:block;
		position: absolute;
		top:.6em;
		right:.75em;
	}
	header nav ul li a {
		display: block;
		width: 100%;
		padding: 10px 0;
		border-bottom: 1px solid #ccc;
		text-align: center;
	}
	header nav ul{
		display: none;
	}
	#hero {
		height: auto;
		padding: 30px 0 50px;
	}
	#hero h2 {
		font-size: 28px;
		margin: 40px 0 60px;
	}
	#benefits {
		padding: 30px 0;
	}
	#benefits p, #benefits ul {
		width: 82%;
		margin: 0 auto 20px;
	}
	blockquote {
		font-size: 20px;
		width: 90%;
	}
	#main {
		margin-top: 25px;
	}
	footer .logo, footer ul li {
		margin-bottom: 30px;
	}
	.post h2 {
		font-size: 24px;
	}
	.post p {
		font-size: 18px;
	}
	.post p:first-of-type:first-letter {
		float: none;
		font-size: 18px;
		line-height: 18px;
		padding: 0;
		font-weight: 300;
	}
	.post img {
		width: 100%;
		margin-bottom: 15px;
	}
	#sidebar h3 {
		font-size: 24px;
	}
	#sidebar ul li a, #sidebar p {
		font-size: 18px;
	}
	#sidebar img {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#posts, #sidebar {
		margin: 0 auto;
		width: 95%;
		display: block;
	}
}







